.achievements {
  padding: 100px 80px;
  color: white;
}

.achievements-title {
  text-align: center;
   font-size: clamp(28px, 4vw, 36px);
  margin-bottom: 50px;
}

.achievements-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.achievement-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 25px;
  transition: all 0.4s ease;
}

.achievement-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(39, 174, 96, 0.6);
}

.achievement-card h3 {
  font-size: clamp(18px, 3vw, 22px);
}

.achievement-card p {
  font-size: clamp(13px, 2.2vw, 14px);
  opacity: 0.85;
}

/* Responsive */
@media (max-width: 768px) {
  .achievements {
    padding: 80px 20px;
  }
}

@media (max-width: 480px) {
  .achievement-card {
    padding: 15px;
  }
}

