.projects {
  padding: 100px 80px;
  color: white;
}

.projects-title {
  text-align: center;
  font-size: clamp(28px, 4vw, 36px); /* responsive font size */
  margin-bottom: 50px;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 25px;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 transparent;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(39, 174, 96, 0.6); /* green glow */
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
   font-size: clamp(12px, 2.5vw, 14px);
  opacity: 0.8;
}

.project-card span {
  display: inline-block;
  margin: 15px 0;
  font-size: 13px;
  color: #27ae60;
}

.project-card a {
  text-decoration: none;
  color: #27ae60;
  font-weight: 500;
  transition: color 0.3s ease;
  display: block;
  margin-top: 8px;
}

.project-card a:hover {
  color: #2ecc71;
}

/* Responsive */
@media (max-width: 768px) {
  .projects {
    padding: 80px 20px;
  }
}

.project-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

